{% extends "base.html" %}
{% block content %}
<img src="../static/img/sparta.jpg">
<div class="container">
  <h1 class="title">Bienvenido, {{ name }}!</h1>
<table class="tabla">
  <thead>
  <th>Incendio</th>
  <th>Forestal</th>
  <th>Socorrismo</th>
  <th>Acuatico</th>
  <th>Vehicular</th>
  <th>Comunicaciones</th>
  </thead>
    <tbody>
    <tr>
      <td><a href="{{ url_for('download', filename='manual_incendio.pdf') }}">Manual Incendio</a></td>
<td><a href="{{ url_for('download', filename='bvvcp.docx') }}">Manual Forestal</a></td>
<td><a href="{{ url_for('download', filename='bvvcp.docx') }}">Manual Socorrismo</a></td>
<td><a href="{{ url_for('download', filename='bvvcp.docx') }}">Manual Acuatico</a></td>
<td><a href="{{ url_for('download', filename='bvvcp.docx') }}">Manual Vehicular</a></td>
<td><a href="{{ url_for('download', filename='bvvcp.docx') }}">Manual Comunicaciones</a></td>
    </tr>

    </tbody>
</table>

  </div>
{% endblock %}