{% extends "base.html" %}

{% block content %}
<img src="../static/408703.jpg">
<h2>Nosotros</h2>


<h2>Tel: 03541-42-2222 / 100</h2>
<h3>Direccion: Koch N°57</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5726.745223925908!2d-64.48136542296123!3d-31.41018367829624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1683249872822!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner cursos_car">
    <div class="carousel-item active ">
      <img src="../static/img/b2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/img/br1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/img/e1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/img/f2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/img/r8.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<p>El cuartel de bomberos de Villa Carlos Paz, en Córdoba, Argentina, se fundó el 12 de agosto de 1938. El primer jefe del cuerpo activo de bomberos fue el señor José Miguens, quien desempeñó su cargo hasta 1941. Durante su historia, la institución ha tenido que enfrentar numerosos desafíos, desde incendios forestales hasta accidentes de tránsito y rescates en montañas.

En 1995, la ciudad de Villa Carlos Paz sufrió una de las peores inundaciones de su historia, y los bomberos del cuartel tuvieron que trabajar arduamente para ayudar a evacuar a los habitantes afectados y para rescatar a las personas que quedaron atrapadas en sus hogares. Desde entonces, la institución se ha fortalecido y ha invertido en nuevas tecnologías y equipamiento para estar preparados ante cualquier emergencia.

El cuartel de bomberos de Villa Carlos Paz también ha sido protagonista de numerosas acciones solidarias, como la donación de juguetes y alimentos para niños y familias necesitadas en la época navideña. La institución cuenta con un cuerpo activo de bomberos voluntarios y una comisión directiva que trabaja para garantizar el bienestar y la seguridad de los habitantes de la ciudad y sus alrededores.</p>

{% endblock %}